<!-- wp:template-part {"slug":"main-header","theme":"tennis-club","tagName":"header","className":"front-header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0">

  <!-- wp:pattern {"slug":"tennis-club/main-banner"} /-->

  <!-- wp:pattern {"slug":"tennis-club/club-members"} /-->

  <!-- wp:pattern {"slug":"tennis-club/blog-section"} /-->
  
  <!-- wp:pattern {"slug":"tennis-club/testimonial"} /-->

  <!-- wp:pattern {"slug":"tennis-club/projects-section"} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"tennis-club","tagName":"footer"} /-->