/* Backgrounds */
$color__background-body: #f9f9f9;      // page background
$color__background-screen: #ffffff;    // cards / sections
$color__background-hr: #bdbdbd;
$color__background-button: #0a8f2c;
$color__background-pre: #ffffff;
$color__background-ins: #ffffff;

/* Text */
$color__text-screen: #ffffff;          // text on dark (header/footer)
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-main: #111111;

/* Links */
$color__link: #0a8f2c;
$color__link-visited: #0a8f2c;
$color__link-hover: #43A047;

/* Borders */
$color__border-button: #0a8f2c #0a8f2c #087522;
$color__border-button-hover: #43A047 #43A047 #2f7d32;
$color__border-button-focus: #2f7d32 #43A047 #43A047;
$color__border-input: #bdbdbd;
$color__border-abbr: #bdbdbd;

/* Custom Theme Colours */
$color__header: #000000;
$color__footer: #012458;
$color__accent: #0a8f2c;
$color__accent-hover: #43A047;

